{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3>Inscription</h3>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_end(form) }}
{% endblock %}